<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czyfwpla.demo01.mapper.EmrMapper" >

    <resultMap id="BaseResultMap" type="com.czyfwpla.demo01.model.Emr">
        <id column="EmrId" property="EmrId" jdbcType="VARCHAR" />
        <id column="SecTion" property="SecTion" jdbcType="VARCHAR" />
        <id column="Time" property="Time" jdbcType="VARCHAR" />
        <id column="Name" property="Name" jdbcType="VARCHAR" />
        <id column="Sex" property="Sex" jdbcType="VARCHAR" />
        <id column="Age" property="Age" jdbcType="VARCHAR" />
        <id column="Phone" property="Phone" jdbcType="VARCHAR" />
        <id column="IdCard" property="IdCard" jdbcType="VARCHAR" />
        <id column="Unit" property="Unit" jdbcType="VARCHAR" />
        <id column="Zhushu" property="Zhushu" jdbcType="VARCHAR" />
        <id column="Sizhen" property="Sizhen" jdbcType="VARCHAR" />
        <id column="Lczd" property="Lczd" jdbcType="VARCHAR" />
        <id column="Zxing" property="Zxing" jdbcType="VARCHAR" />
        <id column="Ywgms" property="Ywgms" jdbcType="VARCHAR" />
        <id column="BingW" property="BingW" jdbcType="VARCHAR" />
        <id column="Bxing" property="Bxing" jdbcType="VARCHAR" />
        <id column="RecipelId" property="RecipelId" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="addEmr" parameterType="com.czyfwpla.demo01.model.Emr" >
        INSERT INTO
        emr
        (EmrId,SecTion,Time,Name,Sex,Age,Phone,IdCard,Unit,Zhushu,Sizhen,Lczd,Zxing,Ywgms,BingW,Bxing,RecipelId)
        VALUES
        (#{EmrId}, #{SecTion},#{Time},#{Name},#{Sex},
        #{Age},#{Phone}, #{IdCard},#{Unit},#{Zhushu},#{Sizhen},#{Lczd},#{Zxing}, #{Ywgms},
         #{BingW},#{Bxing}, #{RecipelId})
    </insert>
</mapper>