<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czyfwpla.demo01.mapper.RecipelMapper" >

    <resultMap id="BaseResultMap" type="com.czyfwpla.demo01.model.Recipel">
        <id column="RecipelId" property="RecipelId" jdbcType="VARCHAR" />
        <id column="RecipelName" property="RecipelName" jdbcType="VARCHAR" />
    </resultMap>
    <insert id="addRecipel" parameterType="com.czyfwpla.demo01.model.Recipel" >
        INSERT INTO
        recipel
        (RecipelId,RecipelName)
        VALUES
        (#{RecipelId}, #{RecipelName})
    </insert>
</mapper>